<script src="plugins/jQuery/jquery.jqprint.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">{{widget.name}}</h4>
    <div style="float: right"><button type="button" class="btn btn-info" onclick="print()"> 打印 </button></div>
</div>
<div id="printDiv">
    <div  class="modal-body" id="modal_chart" ng-init="render1()">
    </div>
    <div class="overlay" ng-show="widget.modalLoading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
<div style="display: none"><img id="img"></div>
<script>
    function print() {
            var flag = $("#printDiv table").length > 0;
            if(flag > 0){
                doPrint('printDiv');
            }else{
                var chart = echarts.init(document.getElementById('modal_chart'));
                var img = new Image();
                var imgSrc = chart.getDataURL();
                img.src = imgSrc;
                img.onload = function() {
                    $("#img").attr('src', imgSrc);
                    doPrint("img");
                }
            }
    }

    function doPrint(id){
        $("#"+id).jqprint({
            debug: false,      //如果是true则可以显示iframe查看效果（iframe默认高和宽都很小，可以再源码中调大），默认是false
            importCSS: true,   //true表示引进原来的页面的css，默认是true。（如果是true，先会找$("link[media=print]")，若没有会去找$("link")中的css文件）
            printContainer: true,  //表示如果原来选择的对象必须被纳入打印（注意：设置为false可能会打破你的CSS规则）。
            operaSupport: false    //表示如果插件也必须支持歌opera浏览器，在这种情况下，它提供了建立一个临时的打印选项卡。默认是true
        });
    }

</script>

